.container {
  max-width: 1390px;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

.container-wrap {
  width: 100%;
  max-width: 1500px;
  padding: 0;
  margin: 0 auto;
}

@media only screen and (max-width:576px) {
  .container {
    padding: 0 24px;
  }

  .container-wrap {
    padding: 0;
  }
}