.footer {
    background: #90D4C6;
}

.footer__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 72px 0;
}

.footer__logo {
    margin-bottom: 40px;
}

.footer__list {
    display: flex;
    align-items: center;
    margin: 0 0 88px 0;
    padding: 0;
    list-style: none;
}

.footer__item {
    margin-right: 57px;
    
    &:last-child {
        margin-right: 0;
    }
}

.footer__link {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.128571px;
    color: #458D7E;
    text-decoration: none;
    transition: 0.2s ease;

    &:hover {
        color: #fff;
    }
}

.footer__lists {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer__items {
    margin-right: 28px;

    &:last-child {
        margin-right: 0;
    }
}

.footer__links {
    color: #2C7566;
    transition: 0.2s ease;

    &:hover {
        color: #fff;
    }
}

@media only screen and (max-width:576px) {
    
}